@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
  font-family: "JetBrains Mono", "Fira Code", Consolas, monospace !important;
}
html {
  margin: 0;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
nav {
  background-color: rgb(27, 27, 27);
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-panel {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}
.nav-panel.left {
  justify-content: left;
}
.nav-panel.right {
  justify-content: right;
}
nav h1 {
  color: #fac118;
  margin: 0;
  padding: 0;
}
select {
  color: #fac118;
  background-color: rgb(10, 10, 10);
  border: none;
  outline: none;
}
option {
  color: #fac118;
  background-color: rgb(10, 10, 10);
  border: none;
  outline: none;
}
#container {
  width: 100%;
  height: 100%;
  display: flex;
}
#container.horizontal {
  flex-direction: column;
}
#container.vertical {
  flex-direction: row;
}
#output {
  width: 100%;
  height: 100%;
  background-color: white;
}
#editor-panel {
  display: flex;
  width: 100%;
  height: 500px;
  background-color: rgb(10, 10, 10);
  overflow: hidden;
}
#editor-panel.horizontal {
  width: 100%;
  height: 500px;
  flex-direction: row;
}
#editor-panel.vertical {
  height: 100%;
  width: 500px;
  flex-direction: column;
}
.editor {
  min-width: 100px;
  min-height: 100px;
  box-sizing: border-box;
  overflow: hidden;
}
.editor.horizontal {
  flex: 1 1 0;
}
.editor.vertical {
  flex: 0 1 1;
}
.editor-nav {
  background-color: rgb(10, 10, 10);
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  color: #bcb9b2;
  padding: 3px;
  gap: 3px;
  font-size: 12px;
}
.editor-name {
  color: #fac118;
}
.editor-icon {
  font-size: 18px;
  color: #3a3835;
}
.editor-resizer {
  background-color: rgb(20, 20, 20);
}
.editor-resizer.horizontal {
  cursor: col-resize;
  width: 0.5rem;
  height: 100%;
}
.editor-resizer.vertical {
  cursor: row-resize;
  width: 100%;
  height: 0.5rem;
}

.editor-resizer:hover {
  background-color: #444;
}
.CodeMirror {
  font-size: 14px;
  height: 100% !important;
}
